[display]
; 0 = use desktop resolution
width = 0
height = 0
mode = fullscreen-desktop
vsync = on
; auto = 90 degrees at current aspect ratio
fov_horizontal = auto
; auto = integer scale based on resolution (1080p->1x, 4K->2x)
hud_scale = auto

[renderer]
; auto | d3d11 | d3d12 | vulkan | metal | opengl
backend = auto
